
llama-index-core~=0.14.22
llama-index-readers-file
llama-index-embeddings-huggingface
sentence-transformers
llama-index-vector-stores-qdrant
qdrant-client
llama-index-llms-groq
llama-index-retrievers-bm25
llama-index-postprocessor-cohere-rerank
ragas
streamlit
python-dotenv
pypdf
langgraph
langsmith
lxml
beautifulsoup4~=4.15.0